<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/minireset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <script th:src="@{/script/cart.js}"></script>
</head>

<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a th:href="@{/toIndex}">
                <img th:src="@{/img/logo.gif}" alt=""/>
            </a>
            <h1>我的购物车</h1>
        </div>
        <div class="header-right">
            <h3>欢迎<span th:text="${session.currUser.getUname()}">张总</span>光临合工大在线书城</h3>
            <div class="order"><a th:href="@{/myOrder}">我的订单</a></div>
            <div class="destory"><a th:href="@{/loginOut}">注销</a></div>
            <div class="gohome">
                <a th:href="@{/toIndex}">返回</a>
            </div>
        </div>
    </div>
</div>
<div class="list">
    <div class="w">
        <table>
            <thead>
            <tr>
                <th>图片</th>
                <th>商品名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>金额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${session.currUser.getCart().getCartItemMap().values()}">
                <td>
                    <img th:src="@{|/uploads/*{cartItem.book.bookName}.jpg|}" alt=""/>
                </td>
                <td th:text="${cartItem.book.bookName}">活着</td>
                <td>
                    <span class="count" th:if="${cartItem.buyCount ge 2}" th:onclick="|editCart(${cartItem.id}, ${cartItem.buyCount - 1})|">-</span>
                    <span class="count" th:unless="${cartItem.buyCount ge 2}" >-</span>
                    <input class="count-num" type="text" disabled="disabled" value="1" th:value="${cartItem.buyCount}"/>
                    <span class="count" th:onclick="|editCart(${cartItem.id}, ${cartItem.buyCount + 1})|">+</span>
                </td>
                <td th:text="${cartItem.book.price}">36.8</td>
                <td th:text="${cartItem.getXj()}">36.8</td>
                <td>
                    <span class="count" th:onclick="|delCartItem(${cartItem.id})|">删除</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="footer-left">
                <a href="#" class="clear-cart">清空购物车</a>
                <a href="#">继续购物</a>
            </div>
            <div class="footer-right">
                <div>共<span th:text="${session.currUser.cart.totalBookCount}">3</span>件商品</div>
                <div class="total-price">总金额<span th:text="${session.currUser.cart.getTotalMoney()}">99.9</span>元</div>
                <a class="pay" th:href="@{/checkout}">去结账</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="common :: #common_bottom"></div>

</body>
</html>
