<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/minireset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/bookManger.css}"/>
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/css/book_edit.css}"/>
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a href="#">
                <img src="../../static/img/logo.gif" alt="" th:src="@{/img/logo.gif}"/>
            </a>
            <h1>编辑图书</h1>
        </div>
        <div class="header-right">
            <a href="#" th:href="@{/manager/bookManager}" class="order">图书管理</a>
            <a href="order_manager.html" th:href="@{/manager/toOrderManager}" class="destory">订单管理</a>
        </div>
    </div>
</div>
<div class="login_banner">
    <div class="register_form">
        <form th:action="@{/manager/updateBook}" method="post">
            <input type="hidden" name="id" th:value="${book.id}"/>
            <div class="form-item">
                <div>
                    <label>名称:</label>
                    <input type="text" placeholder="请输入名称" required="required" name="bookName"
                           th:value="${book.bookName}"/>
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label>价格:</label>
                    <input type="number" placeholder="请输入价格" required="required" name="price" th:value="${book.price}"/>
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label>作者:</label>
                    <input type="text" placeholder="请输入作者" required="required" name="author" th:value="${book.author}"/>
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label>销量:</label>
                    <input type="number" placeholder="请输入销量" required="required" name="saleCount"
                           th:value="${book.saleCount}"/>
                </div>
            </div>
            <div class="form-item">
                <div>
                    <label>库存:</label>
                    <input type="number" placeholder="请输入库存" required="required" name="bookCount"
                           th:value="${book.bookCount}"/>
                </div>
            </div>

            <button class="btn">提交</button>
        </form>
    </div>
</div>
<div th:replace="common :: #common_bottom2"></div>
</body>
</html>
